/* @import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap"); */
@import "tailwindcss";

@theme {
  /* --font-name: var(--font-name), sans-serif; */
}

/* Font */
@theme {
  --font-league-spartan: var(--next-font-league-spartan),
    sans-serif;
}

/* Neutral Colors */
@theme {
  --color-neutral-950: hsl(0, 0%, 0%);
  --color-neutral-900: hsl(0, 0%, 7%);
  --color-neutral-700: hsl(0, 0%, 27%);
  --color-neutral-600: hsl(0, 0%, 30%);
  --color-neutral-400: hsl(0, 0%, 56%);
  --color-neutral-100: hsl(0, 0%, 93%);
  --color-neutral: hsl(0, 0%, 100%);
}

/* Slate Colors */
@theme {
  --color-slate-800: hsl(218, 21%, 18%);
  --color-slate-500: hsl(217, 14%, 42%);
}

/* Other Colors */
@theme {
  --color-red-500: hsl(0, 43%, 50%);
  --color-stone-500: hsl(27, 22%, 51%);
}

@layer base {
  html {
    font-family: var(--font-league-spartan);
  }
}

/* Main  */
@layer utilities {
  .px-container {
    @apply px-[1rem] sm:px-[5rem] lg:px-[10rem];
  }

  .border-short {
    @apply relative;
  }
  .border-short::after {
    content: "";
    @apply absolute -bottom-3 left-1/2 h-[2px] w-2/6 -translate-x-1/2 bg-stone-500/80;
  }
}

/* Text */
@layer utilities {
  .text-1 {
    @apply lg:text-[80px]/[100%] sm:text-[60px]/[100%] text-[40px]/[100%] font-light tracking-[-1px];
  }

  .text-2-bold {
    @apply text-[35px]/[100%] sm:text-[42px]/[100%] lg:text-[48px]/[100%] font-bold tracking-[-0.5px];
  }
  .text-2-light {
    @apply text-[28px]/[100%] sm:text-[35px]/[100%] lg:text-[42px]/[100%] font-light tracking-[-0.6px];
  }

  .text-3-bold {
    @apply text-[32px]/[125%] font-bold tracking-[-0.4px];
  }
  .text-3-light {
    @apply text-[32px]/[125%] font-light tracking-[-0.4px];
  }

  .text-4-bold {
    @apply text-[20px]/[120%] font-bold tracking-[-0.25px];
  }
  .text-4-regular {
    @apply text-[16px]/[150%] sm:text-[18px]/[150%] lg:text-[20px]/[150%] tracking-[0];
  }

  .text-5-wide {
    @apply text-[17px]/[95%] font-semibold tracking-[2.5px];
  }

  .text-6 {
    @apply text-[16px]/[162.5%] font-normal tracking-[0];
  }
}
